*~
/build/
/dist/
/cct.egg-info
__pycache__
/.idea
radint.c
*.so
cct.lang
/cct/qtgui/tools/optimizegeometry/estimateworksize.c
/cct/core/services/accounting/krb5_check_pass.c
/test
*_ui.py
*_rc.py
/.eggs