#header {
    background-color:black;
    color:white;
    text-align:center;
    font-size:200%;
    width:100%;
    }


#xraysourcestatus, #detectorstatus, #devicehealth {
    background-color:#dddddd;
    float:left;
    width:49%;
    padding:5px;
    }


#motorpositions {
    background-color:#dddddd;
    float:right;
    width:49%;
    padding:5px;
}

#footer {
    background-color:black;
    color:white;
    font-size:100%;
}

.clearfix {
    overflow:auto;
}

caption {
    font-size:150%;
    background-color:#aaaaaa;
    color:white;
    text-align:left;
    width:100%;
}

table {
    width:100%;
}