#indicator_ok {
    background-color: #007c08
}

#indicator_warning {
    background-color: #ffac00
}

#indicator_error {
    background-color: #ff0000
}

#indicator_neutral {
    background-color: #ffffff
}