#greenbackground {
    background-color: #007c08;
}

#yellowbackground {
    background-color: #ffac00;
}

#redbackground {
    /*color: #ff0000;*/
    background: #ff0000;
    /*background-color: #ff0000;
    border-color: #ff0000;*/
}
