/*noinspection CssUnusedSymbol*/
#greenbackground {
    background: #007c08;
}

/*noinspection CssUnusedSymbol*/
#yellowbackground {
    background: #ffac00;
}

/*noinspection CssUnusedSymbol*/
#redbackground {
    background: #ff0000;
}
